<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Neutrino</string>
	<key>CFBundleDisplayName</key>
	<string>Neutrino</string>
	<key>CFBundleIdentifier</key>
	<string>com.movinapp.neutrino.macos</string>
	<key>CFBundleExecutable</key>
	<string>Neutrino</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundleVersion</key>
	<string>__BUILD__</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Neutrino needs this to install the neutrino command.</string>
	<key>NeutrinoGitHubRepo</key>
	<string>rboundi/neutrino</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 movin'App. MIT License.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>NSDocumentClass</key>
			<string>Neutrino.Document</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
				<string>public.data</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
